In [1]:
import pandas as pd

In [11]:
file = pd.read_excel(r'C:\Users\Yash\Desktop\McMaster Material\Project\Latest Dataset.xlsx')

In [12]:
file.head()

,ISBN,Author,Title,Topical Term
0,0394900383(lib.bdg.);0394800389 (trade);978039...,SeussDr,Fox in socks,Nonsense verses.
1,0138516006 (lib. bdg. :){dollar}6.95;19.75,DePaolaTomie,Strega Nona :an old tale,FolkloreItaly.
2,15.02,ZionGene,Harry and the lady next door,Level readers.local;DogsJuvenile fiction.
3,9.19676e+09,NielsenRobertF,Garney Henley :a gentleman and a tiger,Canadian footballBiography.
4,9780064440172,BonsallCrosby,The case of the cat's meow,Level readers.local;Detective and mystery stor...

In [13]:
freq = pd.Series(' '.join(file['Author']).split()).value_counts()[:50]
freq

PattersonJames                          609
SteelDanielle                           296
MacomberDebbie                          271
KalmanBobbie                            268
RobertsNora                             211
MichaelsFern                            210
PendletonDon                            205
OsborneMaryPope                         192
JohansenIris                            171
CusslerClive                            165
ShakespeareWilliam                      165
JohnstoneWilliamW                       164
McCallSmithAlexander                    161
WoodsStuart                             156
EvanovichJanet                          151
StiltonGeronimo(Fictitiouscharacter)    144
GrahamHeather                           143
PerryAnne                               141
PalmerDiana                             140
PattersonJamesauthor                    140
KoontzDeanR(DeanRay)                    139
MeadowsDaisy                            137
RobbJD                                  125
ChristieAgatha                          125
MallerySusan                            124
BaldacciDavid                           123
MunschRobertN                           121
HunterErin                              121
KingStephen                             120
BeatonMC                                120
YolenJane                               119
GrishamJohn                             118
O'ConnorJane                            115
BrownRitaMae                            103
SandfordJohnFebruary                    102
McDonaldMegan                           102
FerrarellaMarie                         101
RylantCynthia                           101
BarkowHenriette                         101
KingsburyKaren                          100
PrestonDouglasJ                         100
FeehanChristine                          97
PaulsenGary                              96
MillerLindaLael                          94
JacksonLisa                              94
ScottolineLisa                           93
NeelsBetty                               92
HolubJoan                                91
LackeyMercedes                           91
JanceJudithA                             91
dtype: int64